$mobile: 599px;
$tablet: 600px;
$desktop: 1100px;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header {
  position: sticky;
  top: 0;
  background: #333;
  position: relative;

  > .wrapper {
    display: flex;
  }

  &__mask {
    position: fixed;
    top: 39px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(#fff, 0.75);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__logo {
    display: block;
    color: #666;
    text-decoration: none;
    padding: 6px 10px 10px 0;
    font-weight: 500;
    transition: all ease 0.2s;
    margin-right: 10px;

    &:hover {
      color: #fff;
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    z-index: 1;

    &__close {
      position: absolute;
      right: 20px;
      top: 20px;

      background: none;
      border: 0;
      z-index: 1;

      path {
        fill: #fff;
      }

      @media (min-width: $tablet) {
          display: none;
      }
    }

    &--active &__close {
      display: block;
    }

    &__primary {   
      @media (max-width: $mobile) {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #333;
        height: 0px;
        transition: height ease 0.3s;
        overflow: hidden;
        
        &--active {
          height: 100%;
        }

        &__spacer {
          padding: 100px 50px 50px 50px;
        }
      }

      @media (min-width: $tablet) {
        &__spacer {
          flex: 1;
          display: flex;
        }
      }
    }

    &__sub {
      &:first-child {
        border: 1px solid red;
      }

      &--push {
        margin-left: auto;
      }

      &__trigger {
        display: block;
        color: rgba(#fff, 0.75);
        text-decoration: none;
        border: 0;
        background: none;
        padding: 10px 12px;
        transition: all ease 0.2s;
        cursor: pointer;
        font-size: 12px;
        
        &--text {
          font-size: 30px;
          line-height: 30px;
        }

        @media (min-width: $tablet) {
          &--bm {
            display: none;
          }

          &--text {
            font-size: 12px;
            line-height: 12px;
          }
        }


        &:focus {
          outline: none;
        }

        &--active,
        &:hover {
          color: #fff;
        }

        &--search {
          margin-left: auto;
        }

        svg {
          // transform: scale(0.9);
          width: 12px;
          height: 12px;
        }
      }

      &__menu {
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #333;

        transition: height ease 0.3s;
        height: 0px;
        overflow: hidden;

        @media (max-width: $mobile) {
          &--active {
            overflow-y: auto;
          }
        }
        
        @media (min-width: $tablet) {
          top: 100%;
          position: absolute;
        }

        

        a {
          display: block;
          text-decoration: none;
          color: #fff;
          transition: all ease 0.2s;
          margin: 0 0 8px 0;
          font-size: 14px;
          font-weight: 500;

          &.action {
            font-size: 20px;
            margin-bottom: 12px;
          }

          &.active {
            opacity: 0.2;
          }

          &:hover {
            color: rgba(#fff, 0.5);
          }
        }

        .wrapper {
          opacity: 0;
          transition: all ease 0.5s;
          padding-top: 40px;
          padding-bottom: 50px;
          // transition-delay: 0.1s;
          // transform: translateY(-10px);
        }

        &--active .wrapper {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

h5 {
  color: #999;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 20px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  &__col  +  &__col {
    margin-top: 30px;
  }
  
  @media (min-width: $tablet) { 
    display: flex;
    margin-left: -10px;
    margin-left: -10px;

    &__col {
      margin: 0;
      flex-basis: 25%;
      padding: 0 10px;

      & + & {
        margin-top: 0;
      }
    }
  }
}

main {
  color: #333;
  padding: 10px 0;
}

input {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  border: 0;
  background: none;
  color: #fff;

  &:placeholder {
    color: rgba(#fff, 0.5);
  }

  &:focus {
    outline: none;
  }
}
